body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin-top: 60px;
}

.container {
    padding: 20px;
    text-align: center;
}

.container h1{
    font-size: 50px;
}

.input-box {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    height: 50px;
    width: 50rem;
}

.input-box input{
    padding-left: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
}

.input-box button {
    height: 100%;
    width: 10rem;
    border: none;
    background-color: cornflowerblue;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    color: white;
    font-size: 16px;
}

#geneDetails {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 20px;
    text-align: left;
    font-size: 14px;
}
